- name: Adquirir tráfico de red anómalo
  hosts: controlador
  tasks:
    - name: Ejecutar flood.py
      become: yes
      command: >
        bash -lc "source /home/david/ics-lab/controller/venv-flood/bin/activate &&
                  python3 /home/david/ics-lab/controller/flood.py"
      async: 10
      poll: 1

    - name: Etiquetar evidencia
      import_role:
        name: labelevidence
      vars:
        evidencetype: "{{tcpdumpname}}"
        evidenceextension: "{{tcpdumpextension}}"
      
    - name: Crear carpeta de evidencias para este experimento
      file:
        path: "{{completepath}}"
        state: directory
        mode: '0755'
      become: true

    - name: Capturar tráfico
      include_role:
        name: capturepcap
